---
Checks: '
         clang-diagnostic-*,
         clang-analyzer-*,
         readability-*,
         modernize-*,
         bugprone-*,
         misc-*,
         google-runtime-int,
         llvm-header-guard,
         fuchsia-restrict-system-includes,
         -clang-analyzer-valist.Uninitialized,
         -clang-analyzer-security.insecureAPI.rand,
         -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
         -clang-analyzer-alpha.*,
         -readability-magic-numbers,
         -readability-non-const-parameter,
         -readability-avoid-const-params-in-decls,
         -readability-else-after-return,
         -readability-isolate-declaration,
         -readability-uppercase-literal-suffix,
         -readability-function-cognitive-complexity,
         -readability-identifier-length,
         -bugprone-sizeof-expression,
         -bugprone-easily-swappable-parameters,
         -misc-no-recursion
        '
CheckOptions: [{ key: misc-non-private-member-variables-in-classes, value: IgnoreClassesWithAllMemberVariablesBeingPublic }]
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none